<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinWise"
        tools:targetApi="31">
        <activity
            android:name=".financialActivitiesModule.ConfirmWithdraw"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".financialActivitiesModule.WithdrawActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TestFinancialActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.GoalSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ParentSendMoney"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.FinancialActivityConfirmSpending"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".financialActivitiesModule.FinancialActivityRecordExpense"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".financialActivitiesModule.FinancialActivityConfirmDeposit"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ParentLandingPageActivity"
            android:exported="false" />
        <activity
            android:name=".ParentSettingAGoalActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewGoalActivity"
            android:exported="false" />
        <activity
            android:name=".SettingAGoalActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.ViewTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".TabbedActivityExample"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.SpendingActivity"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.BudgetCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.StartGoalActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.SavingViewTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.SavingActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.BudgetActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.FinancialActivityGoalDeposit"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".FinancialAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            -->
        </activity>
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinancialAssessmentFinlitExpertActivity"
            android:exported="false" >
   <!--     <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
-->
        </activity>

        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertEditAssessmentActivity"
            android:exported="false" >
         <!--        <intent-filter>
                     <action android:name="android.intent.action.MAIN" />

                     <category android:name="android.intent.category.LAUNCHER" />
                 </intent-filter>

                 <meta-data
                     android:name="android.app.lib_name"
                     android:value="" />-->
        </activity>



        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertProfileActivity"
            android:exported="false" />
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertSpecificAssessmentActivity"
            android:exported="false">
        </activity>


        <!--
<activity
            android:name=".personalFinancialManagementModule.EditTransactionActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".personalFinancialManagementModule.TransactionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.TransactionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.ConfirmDepositActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.ConfirmTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.RecordExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.RecordDepositActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.RecordIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.GoalAccomplishedActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.PersonalFinancialManagementActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.ChildEditGoal"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.ChildNewGoal"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.FinancialActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".financialActivitiesModule.ViewGoalActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.GoalConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegisterModule.ParentRegisterChildActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegisterModule.ParentRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegisterModule.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegisterModule.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegisterModule.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>

        <!--
    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        -->
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>