<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinWise"
        tools:targetApi="31">
        <activity
            android:name=".ParentEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ParentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ParentSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.GoalSettingEditGoalActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.GoalSettingForEditingActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.EditEarningActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.OverdueChoreActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.parentPerformance.ParentSpendingPerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.parentPerformance.ParentBudgetingPerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.parentPerformance.ParentSavingPerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.parentPerformance.ParentGoalSettingPerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.WaitGoalReview"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SavingNearingCompletionActivity"
            android:exported="false" />
        <activity
            android:name=".SavingNearingDeadlineActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.UpdateGoalActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.performance.GoalSettingPerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.GoalSavingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.RecordEarningSaleConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.RecordEarningSaleActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.EarningSellingActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.EarningMenuActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.MarkChoreCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".AssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.SpendingTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.EarningSendMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.CompletedEarningActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.EarningActivity"
            android:exported="true" />
        <activity
            android:name=".parentFinancialActivitiesModule.NewEarningActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.TrendDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewShoppingListItem"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.performance.SavingPerformanceActivity"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.performance.BudgetingPerformanceActivity"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.performance.SpendingPerformanceActivity"
            android:exported="true" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinancialAssessmentViewAllQuestions"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profileModule.FriendRequestActivity"
            android:exported="true" />
        <activity
            android:name=".profileModule.AddFriendsActivity"
            android:exported="true" />
        <activity
            android:name=".profileModule.ViewFriendsActivity"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.ItemExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.ReasonExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".financialAssessmentModule.FinancialAssessmentCompleted"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".financialActivitiesModule.ViewGoalDetailsTabbedActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.GoalTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.mayaAPI.MayaPayment"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.mayaAPI.MayaConfirmPayment"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.mayaAPI.MayaSuccessfulPayment"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.ViewGoalDetails"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.ParentFinancialActivity"
            android:exported="true" />
        <activity
            android:name=".parentDashboardModule.ParentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.FinancialActivityConfirmWithdraw"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.SavingsWithdrawActivity"
            android:exported="false" />
        <activity
            android:name=".TestFinancialActivity"
            android:exported="false" />
        <activity
            android:name=".profileModule.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".parentFinancialManagementModule.ParentConfirmPayment"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.FinancialActivityConfirmExpense"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.FinancialActivityRecordExpense"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.FinancialActivityConfirmDeposit"
            android:exported="false" />
        <activity
            android:name=".parentAssessmentModule.parentAssessmentLandingPage"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.ParentLandingPageActivity"
            android:exported="false">

            <!--
<intent-filter>
    <action android:name="android.intent.action.MAIN" />

    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
            -->
        </activity>
        <activity
            android:name=".parentFinancialActivitiesModule.ParentSettingAGoalActivity"
            android:exported="false" />
        <activity
            android:name=".parentFinancialActivitiesModule.ReviewGoalActivity"
            android:exported="true" />
        <activity
            android:name=".SettingAGoalActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.ViewTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".TabbedActivityExample"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.SpendingActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.StartGoalActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.SavingViewTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.BudgetActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.SavingsDepositActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".childDashboardModule.childDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".financialAssessmentModule.FinancialAssessmentQuiz"
            android:exported="false" />
        <activity
            android:name=".financialAssessmentModule.FinancialAssessmentLandingPageActivity"
            android:exported="false">

            <!--
                <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".financialAssessmentModule.FinancialAssessmentActivity"
            android:exported="false">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".profileModule.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinancialAssessmentFinlitExpertActivity"
            android:exported="false">

            <!--
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            -->

        </activity>
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertEditAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertAddNewQuestionsActivity"
            android:exported="true" />
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertEditQuestionsActivity"
            android:exported="true" />
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertProfileActivity"
            android:exported="false" />
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertSpecificAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".financialAssessmentModuleFinlitExpert.FinlitExpertAssessmentTypeActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.TransactionHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".personalFinancialManagementModule.ConfirmDepositActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.ConfirmTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.RecordExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.RecordDepositActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.RecordIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.CashMayaBalanceBreakdownActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.GoalAccomplishedActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinancialManagementModule.PersonalFinancialManagementActivity"
            android:exported="false">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!--
      <activity
            android:name=".personalFinancialManagementModule.TransactionSortActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".financialActivitiesModule.EditGoal"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.NewGoal"
            android:exported="true" />
        <activity
            android:name=".financialActivitiesModule.FinancialActivity"
            android:exported="true" />
        <activity
            android:name=".parentFinancialManagementModule.ParentFinancialManagementActivity"
            android:exported="false">

            <!--
<intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
            -->

        </activity>
        <activity
            android:name=".parentFinancialManagementModule.ParentSendMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.ViewGoalActivity"
            android:exported="false" />
        <activity
            android:name=".financialActivitiesModule.GoalConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".loginRegisterModule.ParentRegisterChildActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegisterModule.ParentRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegisterModule.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegisterModule.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegisterModule.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <meta-data -->
            <!-- android:name="android.app.lib_name" -->
            <!--
            android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>